*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* This will inherit the border-box property applied in body to all elements on our page */
  box-sizing: inherit;
}

/* Here we are defining the root font-size of the entire project */

html {
  // This defines what 1rem is
  font-size: 62.5%; // 10px * 100/ 16 =  0.625
}

body {
  box-sizing: border-box;
}
